.imglogo{
    width: 150px;
}

.portada{
    width: 650px;
}

.imagenesinicio{
    width: 250px;
}

.ImgPrincipal{
    width: 350px   
}


.secc-1{
    text-align: center;
}


.imagenesextra{
    width: 250px;
}